# OSX
.DS_STORE

# Compiled Python files
*.pyc

# Pycharm
/.idea

# avoid adding credentials to git
docker-compose.yml

# avoid publishing data collection
/sampleModels/*.csv
/sampleModels/*.pkl

# intermediate and result data
/data
/models

# packaging
/dist
/build
/newsanalysis.egg-info
MANIFEST
