version: '3'
services:
  runner:
    image: media-uncovered/newsanalysis:acceptance
    build: .
    environment:
      DB_HOST: "DB_HOST"
      DB_NAME: "DB_NAME"
      DB_PORT: "DB_PORT"
      DB_USER: "DB_USER"
      DB_PASSWORD: "DB_PASSWORD"
      NO_DOCS: "NO_DOCS"
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./unittests:/app/unittests
      - ./sampleModels:/app/sampleModels
      - ./projector/oss_data:/app/projector/oss_data
